body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.nav-link {
  color: #222222 !important;
}

/* Footer */
.f-info-links a {
  text-decoration: none;
  margin-right: 1rem;
  color: #222222;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-socials i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* Cards */
.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none;
}

/* Card-Effect */
.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

/* New Page */
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Edit Page */
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}

/* Show Page */
.show-img {
  height: 30vh;
}

.btns {
  display: flex;
}

.show-card {
  padding-left: 0;
  padding-right: 0;
}

/* Login */
/* <!-- Background styling --> */

.card-user {
  border: none;
  border-radius: 15px;
  background-color: #ffffffcc; /* Slightly transparent white */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.form-control {
  border-radius: 10px;
}

.btn-custom {
  background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-custom:hover {
  background: linear-gradient(135deg, #2575fc 0%, #6a11cb 100%);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.card-footer a {
  color: #2575fc;
  font-weight: bold;
  text-decoration: none;
}

.card-footer a:hover {
  color: #6a11cb;
}

/* Image Preview */
.img-preview {
  width: 200px !important; /* Set fixed width */
  height: 200px !important; /* Set fixed height */
  object-fit: cover !important; /* Ensures the image fills the area without distortion */
  border-radius: 10px !important; /* Rounded corners for the image */
  border: 2px solid #ddd !important; /* Light border around the image */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important; /* Subtle shadow */
  margin-top: 10px !important; /* Margin on top */
}

.form-label {
  font-weight: bold; /* Emphasizes the label */
}

/* Map */
#map {
  height: 400px;
  width: 80vh;
}
