<% layout("/layouts/boilerplate") %>

<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4">
    <div class="card p-4 mt-5 card-user">
      <div class="card-body">
        <h2 class="text-center mb-4 text-primary">Sign Up</h2>
        <form
          method="post"
          action="/signup"
          class="needs-validation"
          novalidate
        >
          <div class="form-floating mb-3">
            <input
              name="username"
              id="username"
              placeholder="Enter Name"
              type="text"
              class="form-control"
              required
            />
            <label for="username">Name</label>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">Please enter your name.</div>
          </div>

          <div class="form-floating mb-3">
            <input
              name="email"
              id="email"
              placeholder="Enter email"
              type="email"
              class="form-control"
              required
            />
            <label for="email">Email</label>
            <div class="invalid-feedback">Please enter a valid email.</div>
          </div>

          <div class="form-floating mb-3">
            <input
              name="password"
              id="password"
              placeholder="Enter password"
              type="password"
              class="form-control"
              required
            />
            <label for="password">Password</label>
            <div class="invalid-feedback">Please enter a password.</div>
          </div>

          <div class="d-grid">
            <button class="btn btn-custom btn-block">Sign Up</button>
          </div>
        </form>
      </div>
      <div class="card-footer text-center mt-3">
        <small class="text-muted"
          >Already have an account? <a href="/login">Login</a></small
        >
      </div>
    </div>
  </div>
</div>
